{% set lotGroup = item.lotGroup %}
{% set quantitySold = item.quantitySold %}
{% set expectedProfitPerLot = lotGroup.sellPricePerLot - lotGroup.buyPricePerLot %}
{% set expectedProfitTotal = expectedProfitPerLot * quantitySold %}
{% set performancePerLot = item.actualSellPrice - lotGroup.sellPricePerLot %}
{% set performanceTotal = performancePerLot * quantitySold %}

<tr class="table-row">
    <td class="table-cell text-white">
        {{ item.soldAt|date('d/m/Y') }}
    </td>
    <td class="table-cell">
        {% include 'components/item_display.html.twig' with {
            item: lotGroup.item,
            mode: 'compact',
        } %}
    </td>
    <td class="table-cell">
        <div class="text-white font-medium">{{ quantitySold }} lots</div>
        <div class="text-gray-400 text-sm">par {{ lotGroup.saleUnit.value }}</div>
    </td>
    <td class="table-cell">
        {% include 'components/price_display.html.twig' with {
            price: lotGroup.sellPricePerLot,
            color: 'white'
        } %}
        <div class="text-gray-400 text-sm">par lot</div>
    </td>
    
    <td class="table-cell">
        {% include 'components/price_display.html.twig' with {
            price: item.actualSellPrice,
            color: 'white'
        } %}
        <div class="text-gray-400 text-sm">par lot</div>
    </td>
    <td class="table-cell">
        {% include 'components/profit_display.html.twig' with {
            buy_price: lotGroup.buyPricePerLot,
            sell_price: item.actualSellPrice,
            quantity: item.quantitySold
        } %}
    </td>
    <td class="table-cell">        
        {% if performanceTotal == 0 %}
            {% include 'components/badge.html.twig' with {
                text: 'Moyen',
                color: 'yellow',
            } %}
        {% elseif performanceTotal > 0 %}
            {% include 'components/badge.html.twig' with {
                text: '+' ~ (performanceTotal / 1000)|number_format(0, ',', ' ') ~ 'k',
                color: 'green',
            } %}
        {% else %}
            {% include 'components/badge.html.twig' with {
                text: (performanceTotal / 1000)|number_format(0, ',', ' ') ~ 'k',
                color: 'red',
            } %}
        {% endif %}
    </td>
    <td class="table-cell">
        {% if item.notes %}
            <div class="truncate text-gray-500" title="{{ item.notes }}">
                {{ item.notes|slice(0, 30) }}{{ item.notes|length > 30 ? '...' : '' }}
            </div>
        {% else %}
            <span class="text-gray-500">-</span>
        {% endif %}
    </td>
</tr>